<h3 class="text-center"> Sobre Nós </h3>
<div class="container text-center">
<div class="felipe">
<img src='https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/97254308_2060732890737749_7423313958490079232_o.jpg?_nc_cat=100&_nc_sid=09cbfe&_nc_ohc=w-iYlRHl-AMAX8RGds0&_nc_oc=AQlAYB2k21UMk9EF652gQ6pp6QcHZb_9I9in9-h09AsCn4pa4e1fqvVzZCF9Q9F8NsY&_nc_ht=scontent-gru2-2.xx&oh=45d5287a92f414f3aea321a108a63ee0&oe=5F7BED61' class="rounded-circle w-25" style="display:block;
    margin-left: auto;
    margin-right: auto;">
<h5 class="text-center">Felipe Fernandes dos Santos</h5>
<p class="text-center">Futuro Dev</p>
<p class="text-center">
<strong>Git Hub: </strong> https://github.com/felipe507 <br>
<strong>RA: </strong> 0050831821017 <br>

</p>
</div>
<div class="Matheus">
<img src='https://instagram.fssz7-1.fna.fbcdn.net/v/t51.2885-15/e35/89362267_226413108403269_677886193737106756_n.jpg?_nc_ht=instagram.fssz7-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=jZv8mDxyypMAX-xGJqN&oh=d39cfd1a9a7e9aa40e8b8d11e205b4bf&oe=5F8BA8F4' class="rounded-circle w-25" style="display:block;
    margin-left: auto;
    margin-right: auto;">
<h5 class="text-center">Matheus Oliveira Ferreira</h5>
<p class="text-center">Futuro Front</p>
<p class="text-center">
<strong>Git Hub: </strong> https://github.com/MathOli <br>
<strong>RA: </strong> 0050831821041 <br>
</p>
</div>
</div>